*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 200px;
    background-color: #333;
    border-bottom: 5px solid #FFF;

}

nav{
    width: 100%;
    height: 50px;
    background-color: #333;
    border-bottom: 5px solid #FFF;
}

.container{
    display: flex;
    width: 100%;
}

section{
    width: 80%;
    height: 400px;
    background-color: blue;
    border-bottom: 5px solid #FFF;
}

aside{
    width: 20%;
    height: 400px;
    background-color: red;
    border-bottom: 5px solid #FFF;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #333;
}